.footer{
    text-align: center;

    background-color:#0F4557;
}
.footer-text{
    color: white;
}
 
@media screen and (min-width: 50rem){
    .footer{
        text-align: center;

        background-color:#0F4557;
    }
   .footer-text{
        color: white;
   }
        
}
